@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  min-height: 0;
  min-width: 0;
  box-sizing: border-box;
  -webkit-backface-visibility: hidden;
}

html,
body {
  cursor: none;
  background-color: #ffffff;
}

body {
  overflow-x: hidden;
  line-height: 1;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
